@font-face {
    font-family: 'Robots';
    src: url('./fonts/Roboto-Medium.ttf');
}

body {
    margin: 0;
}

#content {
    display: grid;
    height: 100vh;
    max-height: 100vh;
    grid-template-rows: 4fr 28fr 2fr;
}

#header {
    display: flex;
    color: red;
    font-family: 'Robots';
    font-size: 50px;
    border: solid 1px blue;

}

#main {
    display: flex;
    flex-direction: column;
}
 
#footer {
    border: solid 1px rgb(234, 0, 255);
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100%;
}

#cover {
    display: flex;
    
}

#coverImg {
    width: clamp(650px, 55vw, 70vw);
}

#info{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
}

#adress {
    display: block;
}

#schedule {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px
}

.day {
    text-align: right;
}