@font-face {
    font-family: 'Robots';
    src: url('./fonts/Roboto-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
}

.message {
    color: red;
    font-family: 'Robots';
    font-size: 50px;
}